<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Panel</title>
</head>
<body>
    <h2>Welcome, {{ student_id }}</h2>

    <h3>Your Grades</h3>
    <ul>
        {% for subject, grades in student_grades.items() %}
            <li><strong>{{ subject }}:</strong>
                {% for grade in grades %}
                    {{ grade }}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

</body>
</html>
